.poems {
    width: 95%;
    margin: auto;
    padding-top: 1em;
    h3 {
        padding-bottom: 1em;
    }
    div { 
        .poemTitle {
            width: 50%;
            font-family: 'IM Fell DW Pica', serif;
            font-size: 1em;
            &:hover {
                cursor: pointer;
            }
            h4 {
                margin: 0.5em
            }
        }
        .poem1, .poem2, .poem3, .poem4, .poem5, .poem6, .poem7, .poem8, .poem9, .poem10, .poem11, .poem12 {
            visibility: hidden;
            transition: opacity 0.5s ease-in-out;
            opacity: 0;
            height: 0;
            overflow: hidden;
            margin-left: 1em;
            font-family: 'IM Fell DW Pica', serif;
            font-size: 1em;
            &.show {
                visibility: visible;
                opacity: 100;
                height: auto;
            }
            &:hover{
                background-color: transparent;
            }
        }
    }
}