.cities {
    width: 95%;
    margin: auto;
    max-width: 1200px;
    .citiesBanner {
        background-image: url(../../../Images/mistyCity.jpg);
        background-position: center;
        background-size: cover;
        height: 19.5em;
        width: 100%;
        z-index: -1;
        top: 0%;
        left: 0%;
        position: absolute;
    }
    h3 {
    }
    .articlesContainer {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(auto-fit, minmax(22em, 1fr));
        column-gap: 1.5em;
        row-gap: 1.5em;
        justify-self: center;
        margin: 0.2em auto;
        a {
            color: black;
            text-decoration: none;
            .articleCard {
                justify-self: stretch;
                padding-bottom: 0.5em;
                // background-color: rgb(189, 189, 189);
                box-shadow: 0 20px 20px rgba(0,0,0,.08);
                @media only screen and (min-width: 700px){
                    height: 32em;
                }
                &:hover {
                    box-shadow: 0 40px 40px rgba(0,0,0,.16);
                    transition: box-shadow 0.5s ease-in-out;
                }
                .articleCardText {
                    padding: 0.1em 0.8em;
                    .blockContainer {
                        display: grid;
                        grid-template-columns: auto auto;
                        font-size: 1.2em;
                        .block1 {
                        }
                        .block2 {
                            p {
                                float: right;
                            }
                        }
                    }
                    .cardDescription {
                        font-size: 1em; 
                    }
                }
                .articleImage {
                    height: 16em;
                    margin: auto;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }
                .city1 {
                    background-image: url(../../../Images/cityLookUp.jpg);
                }
                .city2 {
                    background-image: url(../../../Images/cityCanal.jpg);
                }
                .city3 {
                    background-image: url(../../../Images/mistyCity.jpg);
                }
                .city4 {
                    background-image: url(../../../Images/adelaide.jpg);
                }
                .city5 {
                    background-image: url(../../../Images/urbanWorld.png);
                }
                .city6 {
                    background-image: url(../../../Images/urbanAgricultureCardImage.bmp);
                }
                .city7 {
                    background-image: url(../../../Images/birdsEyeCityLights.jpg);
                }
                .city8 {
                    background-image: url(../../../Images/colourfulPark.jpg);
                }
                .nightTrainCardImage {
                    background-image: url(../../../Images/nightTrainCard.jpg);
                }
                .urbanSystemsCardImage {
                    background-image: url(../../../Images/urbanCardImage.jpg);
                }
                .citiesPlanCardImage {
                    background-image: url(../../../Images/citiesPlanCard.jpg);
                }
                .urbanTransitionsCardImage {
                    background-image: url(../../../Images/urbanTransitionsCardImage.jpg);
                }
            }
        }
    }
}