.regenerative {
    width: 95%;
    margin: auto;
    h2 {
        text-decoration: underline;
    }
    .blackLine {
        border-top: solid black 0.1em;
    }
    .mainText {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(34em, 1fr));
        .image {
            background-repeat: no-repeat;
            background-size: cover;
            margin: 18px 16px 0 0;
            background-position-y: 25%;
            background-position-x: 40%;
        }
        .customImage {
            background-image: url(../../../../Images/patchworkTurbines.jpg);
            height: 19.2em;
        }
    }
    .blackLine {
        border-top: solid black 0.1em;
    }
}