.mainPageContainer {
    @media screen and (min-width: 600px) {
        display: grid;
        grid-template-columns: 20em 1fr;
    }
    .mainPagePicture {
        background-image: url(../Images/headingImage.jpg);
        width: auto;
        background-repeat: no-repeat;
        background-size: 100%;
        margin: 1.4em 1em 0.5em 0em;
        @media screen and (max-width: 600px) {
            width: 100%;
            height: 15em;
            margin: auto;
        }
    }
}