.mainPageContainer {
    display: grid;
    grid-template-rows: auto 1fr;
    .mainPagePicture {
        background-image: url(../Images/headingImage.jpg);
        height: 10em;
        width: auto;
        background-repeat: no-repeat;
        background-size: 20%;
    }
}