.forest {
    width: 95%;
    margin: auto;
    h3 {
        text-decoration: underline;
    }
    .blackLine {
        border-top: solid black 0.1em;
    }
    .mainText {
        display: grid;
        grid-template-columns: 34em auto;
        @media screen and (max-width: 1100px) {
            display: grid;
            grid-template-columns: none;
            grid-template-rows: auto auto;
        }
        .image {
            background-repeat: no-repeat;
            background-size: cover;
            margin: 1em 1em 1em 0em;
            background-position-y: 25%;
            background-position-x: 40%;
            @media screen and (max-width: 1100px) {
                margin: 1em 0em 1em 0em;
            }
        }
        .forest {
            background-image: url(../../../../Images/forestLandscape.jpg);
            height: 28.2em;
        }
    }
    .blackLine {
        border-top: solid black 0.1em;
    }
    
    
}