.books {
    width: 95%;
    margin: auto;
    .bookTitle {
    }
    .booksContainer {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
        column-gap: 1em;
        row-gap: 1em;
        justify-self: center;
        margin: 0.2em auto;
        .bookCard {
            justify-self: stretch;
            padding-bottom: 0.5em;
            background-color: rgb(230, 230, 230);
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            .bookCardText {
                padding: 0.1em 1em;
                .blockContainer {
                    display: grid;
                    grid-template-columns: auto 1fr;  
                    .block1 {
                        h4 {
                            color: black;
                            text-decoration: none;
                            margin: 0em;
                            font-size: 1.1em;
                            // &:hover {
                            //     text-decoration: underline;
                            // }
                        }
                    }
                    .block2 {
                        h4 {
                            text-indent: 0.2em;
                            margin: 0em;
                            font-size: 1.1em;
                        }
                    }
                }
                div {
                    .block1 {
                        a{
                            color: black;
                        }
                    }
                    .block2 {
                        p {
                            text-indent: 0.2em;
                        }
                    }
                }
                p {
                    font-size: 1em; 
                }
                a{
                    color: black;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                a{
                    color: black;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .bookImage {
                height: 20em;
                margin: auto;
                background-repeat: no-repeat;
                background-size: 10em;
                background-position: center;
            }
            .book1 {
                 background-image: url(../../Images/creatingRegenerativeCities.JPG);
            }
            .book2 {
                background-image: url(../../Images/aRenewableWorld.JPG);
            }
            .book13 {
                background-image: url(../../Images/citiesPeoplePlanet.JPG);
            }
            .book3 {
                background-image: url(../../Images/surviningTheCentury.JPG);
            }
            .book4 {
                background-image: url(../../Images/creatingWorldFutureCouncil.JPG);
            }
            .book5 {
                background-image: url(../../Images/nhk.JPG);
            }
            .book6 {
                background-image: url(../../Images/creatingSustainableCities.JPG);
            }
            .book7 {
                background-image: url(../../Images/makingCitiesWork.jpeg);
            }
            .book8 {
                background-image: url(../../Images/gaiaAtlasOfCities.JPG);
            }
            .book9 {
                background-image: url(../../Images/earthrise.JPG);
            }
            .book10 {
                background-image: url(../../Images/blueprintForAGreenPlanet.JPG);
            }
            .book11 {
                background-image: url(../../Images/farFromParadise.JPG);
            }
            .book12 {
                background-image: url(../../Images/landForThePeople.JPG);
            }
        }
    }
}