.books {
    width: 95%;
    margin: auto;
    max-width: 1200px;
    .booksBanner {
        background-image: url(../../Images/books.jpg);
        background-position: 20% 50%;
        background-size: cover;
        height: 19.5em;
        width: 100%;
        z-index: -1;
        top: 0%;
        left: 0%;
        position: absolute;
    }
    .bookTitle {
        padding-top: 4em;
        padding-bottom: 1em;
    }
    .booksContainer {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
        column-gap: 1em;
        row-gap: 1em;
        justify-self: center;
        margin: 0.2em auto;
        .bookCard {
            justify-self: stretch;
            padding-bottom: 0.5em;
            background-color: rgb(189, 189, 189);
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            .bookCardText {
                padding: 0.1em 1em;
                .blockContainer {
                    display: grid;
                    grid-template-columns: auto 1fr;  
                    .block1 {
                        h4 {
                            color: black;
                            text-decoration: none;
                            margin: 0em;
                            font-size: 1.1em;
                            // &:hover {
                            //     text-decoration: underline;
                            // }
                        }
                    }
                    .block2 {
                        h4 {
                            text-indent: 0.2em;
                            margin: 0em;
                            font-size: 1.1em;
                        }
                    }
                }
                div {
                    .block1 {
                        a{
                            color: black;
                        }
                    }
                    .block2 {
                        p {
                            text-indent: 0.2em;
                        }
                    }
                }
                p {
                    font-size: 1em; 
                }
                a{
                    color: black;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                a{
                    color: black;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .bookImage {
                height: 30em;
                // margin: auto;
                background-repeat: no-repeat;
                background-size: 20em;
                background-position: center;
            }
            .book1 {
                 background-image: url(../../Images/creatingRegenerativeCities);
                 background-size: 18em;
            }
            .book2 {
                background-image: url(../../Images/aRenewableWorld.jpg);
            }
            .book13 {
                background-image: url(../../Images/citiesPeoplePlanet.jpg);
            }
            .book3 {
                background-image: url(../../Images/survivingTheCentury.jpg);
            }
            .book4 {
                background-image: url(../../Images/creatingWorldFutureCouncil.jpg);
                background-size: 19em;
            }
            .book5 {
                background-image: url(../../Images/nhk.JPG);
                background-size: 19em;
            }
            .book6 {
                background-image: url(../../Images/creatingSustainableCities.jpg);
                background-size: 19em;
            }
            .book7 {
                background-image: url(../../Images/makingCitiesWork.jpeg);
                background-size: 19em;
            }
            .book8 {
                background-image: url(../../Images/gaiaAtlasOfCities.JPG);
                background-size: 19em;
            }
            .book9 {
                background-image: url(../../Images/earthrise.jpg);
                background-size: 18em;
            }
            .book10 {
                background-image: url(../../Images/blueprintForAGreenPlanet.JPG);
            }
            .book11 {
                background-image: url(../../Images/farFromParadise.jpg);
                background-size: 16em;
            }
            .book12 {
                background-image: url(../../Images/landForThePeople.JPG);
                background-size: 19em;
            }
        }
    }
}