.junglePharmacy {
    width: 95%;
    margin: auto;
    h3 {
        text-decoration: underline;
    }
    .blackLine {
        border-top: solid black 0.1em;
    }
    iframe {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .blackLine {
        border-top: solid black 0.1em;
    }
    p {

    }
    .blackLine {
        border-top: solid black 0.1em;
    }
}