body {
  // font-family: 'Playfair Display', serif;
  font-family: 'Noto Sans JP', sans-serif;
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  // background-image: url(./Images/mistyCity.jpg);
  // background-repeat: no-repeat;
	// background-size: 50em;
  // background-position: center;
}

* {
  box-sizing: border-box;
}

